Building configuration...

Current configuration : 13310 bytes
!
! Last configuration change at 12:49:52 BRT Tue Oct 1 2019 by admin
! NVRAM config last updated at 15:31:26 BRT Tue Oct 1 2019 by admin
!
version 16.9
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone year
service timestamps log datetime msec localtime show-timezone year
service password-encryption
service call-home
no platform punt-keepalive disable-kernel-core
!
hostname sw-33-core
!
!
vrf definition Mgmt-vrf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
no logging console
enable secret 5 $1$3vTH$ztvC.S/lZwymsUVfbE1Re/
enable password 7 08624D4A045D54110108
!
!
!
!
no aaa new-model
clock timezone BRT -3 0
switch 1 provision c9200l-24t-4g
!
!
!
!
!
!
!
!
!
ip arp entry learn 10240
!
no ip domain lookup
ip domain name gw.ifsc.edu.br
!
!
!
login on-success log
call-home
 ! If contact email address in call-home is configured as sch-smart-licensing@cisco.com
 ! the email address configured in Cisco Smart License Portal will be used as contact email address to send SCH notifications.
 contact-email-addr sch-smart-licensing@cisco.com
 profile "CiscoTAC-1"
  active
  destination transport-method http
  no destination transport-method email
!
crypto pki trustpoint SLA-TrustPoint
 enrollment pkcs12
 revocation-check crl
!
crypto pki trustpoint TP-self-signed-1667709401
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-1667709401
 revocation-check none
 rsakeypair TP-self-signed-1667709401
!
!
crypto pki certificate chain SLA-TrustPoint
 certificate ca 01
  30820321 30820209 A0030201 02020101 300D0609 2A864886 F70D0101 0B050030 
  32310E30 0C060355 040A1305 43697363 6F312030 1E060355 04031317 43697363 
  6F204C69 63656E73 696E6720 526F6F74 20434130 1E170D31 33303533 30313934 
  3834375A 170D3338 30353330 31393438 34375A30 32310E30 0C060355 040A1305 
  43697363 6F312030 1E060355 04031317 43697363 6F204C69 63656E73 696E6720 
  526F6F74 20434130 82012230 0D06092A 864886F7 0D010101 05000382 010F0030 
  82010A02 82010100 A6BCBD96 131E05F7 145EA72C 2CD686E6 17222EA1 F1EFF64D 
  CBB4C798 212AA147 C655D8D7 9471380D 8711441E 1AAF071A 9CAE6388 8A38E520 
  1C394D78 462EF239 C659F715 B98C0A59 5BBB5CBD 0CFEBEA3 700A8BF7 D8F256EE 
  4AA4E80D DB6FD1C9 60B1FD18 FFC69C96 6FA68957 A2617DE7 104FDC5F EA2956AC 
  7390A3EB 2B5436AD C847A2C5 DAB553EB 69A9A535 58E9F3E3 C0BD23CF 58BD7188 
  68E69491 20F320E7 948E71D7 AE3BCC84 F10684C7 4BC8E00F 539BA42B 42C68BB7 
  C7479096 B4CB2D62 EA2F505D C7B062A4 6811D95B E8250FC4 5D5D5FB8 8F27D191 
  C55F0D76 61F9A4CD 3D992327 A8BB03BD 4E6D7069 7CBADF8B DF5F4368 95135E44 
  DFC7C6CF 04DD7FD1 02030100 01A34230 40300E06 03551D0F 0101FF04 04030201 
  06300F06 03551D13 0101FF04 05300301 01FF301D 0603551D 0E041604 1449DC85 
  4B3D31E5 1B3E6A17 606AF333 3D3B4C73 E8300D06 092A8648 86F70D01 010B0500 
  03820101 00507F24 D3932A66 86025D9F E838AE5C 6D4DF6B0 49631C78 240DA905 
  604EDCDE FF4FED2B 77FC460E CD636FDB DD44681E 3A5673AB 9093D3B1 6C9E3D8B 
  D98987BF E40CBD9E 1AECA0C2 2189BB5C 8FA85686 CD98B646 5575B146 8DFC66A8 
  467A3DF4 4D565700 6ADF0F0D CF835015 3C04FF7C 21E878AC 11BA9CD2 55A9232C 
  7CA7B7E6 C1AF74F6 152E99B7 B1FCF9BB E973DE7F 5BDDEB86 C71E3B49 1765308B 
  5FB0DA06 B92AFE7F 494E8A9E 07B85737 F3A58BE1 1A48A229 C37C1E69 39F08678 
  80DDCD16 D6BACECA EEBC7CF9 8428787B 35202CDC 60E4616A B623CDBD 230E3AFB 
  418616A9 4093E049 4D10AB75 27E86F73 932E35B5 8862FDAE 0275156F 719BB2F0 
  D697DF7F 28
  	quit
crypto pki certificate chain TP-self-signed-1667709401
 certificate self-signed 01
  30820330 30820218 A0030201 02020101 300D0609 2A864886 F70D0101 05050030 
  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 31363637 37303934 3031301E 170D3139 30393035 31323535 
  35345A17 0D333030 31303130 30303030 305A3031 312F302D 06035504 03132649 
  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D31 36363737 
  30393430 31308201 22300D06 092A8648 86F70D01 01010500 0382010F 00308201 
  0A028201 0100B16E 514A4DE4 BAC7DAE1 B45637B4 AF1E3A6E DFDE8D8E 3B198192 
  ECB43954 9FDB9278 F577DB15 251D0E55 1747C04C 1C400A08 F2F54725 24A9F2A0 
  F4B698A0 F466B064 CC5CAC16 25786697 E014DD1E 0221A5C0 230A56B3 AA4981F8 
  10B2A872 6BE2D81C 7F44C409 C9F73111 3E5BD0FC DC4C7F0B C656320B 56F68E00 
  A8755FD1 7249C6BB 4FC25ABD 37655C77 08336B31 886C560B 343EE320 40D7C647 
  0B96B318 1C3D6724 B758379B 37CD3DC5 766CF169 E7E060E0 27F24C9F 5EF807CA 
  A5DF901E 189852DD 8656CCA5 1668FD54 F200AEA1 A74E711F 852B3D64 CD457171 
  42B586F4 0ED32DB2 4DA829DA 8493BC3B 476701CE 2D8C74AC 6038A826 A3098D36 
  878E3A15 66510203 010001A3 53305130 0F060355 1D130101 FF040530 030101FF 
  301F0603 551D2304 18301680 1411E6BA 9A31C6F0 99EDD37F DFC79584 1D12617E 
  67301D06 03551D0E 04160414 11E6BA9A 31C6F099 EDD37FDF C795841D 12617E67 
  300D0609 2A864886 F70D0101 05050003 82010100 7E832A36 32C4AC04 9D8D29B5 
  77AB4FF3 31FD56C0 A07BEA70 9C893441 C5427CA7 85788354 7D1E5A7C 47DEDD22 
  A461DE02 FA94F8E6 CBC5272A 315A3431 0D44E431 6418B933 DB66A76F 1DBCC130 
  177EDB36 0E6DB7A8 279D6638 5CFAF63E 5CF52452 4B517407 D3109A4B 0A2D63A2 
  5522A259 42E76C48 2B1BCF2D 141A12A8 7AA3929F C5BC9745 212964C8 2854B798 
  F0AA8CC9 218E0D15 B843982F F7AF58FA 8471ADE7 F6934D0D AFD675FC D0E69B13 
  C26FCBEA B9E1C10C E518641A 7636205B A279417C 5BBB81DC B5773801 032D34BB 
  C50F5FE5 CDE71E41 24BA64A0 9AE7BB8B 4786883C A9A566AC 20F30BE9 67EFEEEC 
  EC5F8567 D4A6AF53 CA053A4E 3D45C128 EB187DB4
  	quit
!
license boot level network-essentials addon dna-essentials
!
!
diagnostic bootup level minimal
!
spanning-tree mode rapid-pvst
spanning-tree loopguard default
spanning-tree extend system-id
spanning-tree uplinkfast
spanning-tree vlan 1-4094 priority 0
!
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause storm-control
errdisable recovery interval 305
!
username admin privilege 15 password 7 114A2D5454151C46092B25252F3627
username ansible privilege 15 password 7 06051B284F0A0817161E5809000160
!
redundancy
 mode sso
!
lldp run
!
!
class-map match-any system-cpp-police-topology-control
  description Topology control
class-map match-any system-cpp-police-sw-forward
  description Sw forwarding, L2 LVX data, LOGGING
class-map match-any system-cpp-default
  description Inter FED, EWLC control, EWLC data
class-map match-any system-cpp-police-sys-data
  description Learning cache ovfl, High Rate App, Exception, EGR Exception, NFL SAMPLED DATA, RPF Failed
class-map match-any system-cpp-police-punt-webauth
  description Punt Webauth
class-map match-any system-cpp-police-l2lvx-control
  description L2 LVX control packets
class-map match-any system-cpp-police-forus
  description Forus Address resolution and Forus traffic
class-map match-any system-cpp-police-multicast-end-station
  description MCAST END STATION
class-map match-any system-cpp-police-multicast
  description Transit Traffic and MCAST Data
class-map match-any system-cpp-police-l2-control
  description L2 control
class-map match-any system-cpp-police-dot1x-auth
  description DOT1X Auth
class-map match-any system-cpp-police-data
  description ICMP redirect, ICMP_GEN and BROADCAST
class-map match-any system-cpp-police-stackwise-virt-control
  description Stackwise Virtual
class-map match-any non-client-nrt-class
class-map match-any system-cpp-police-routing-control
  description Routing control and Low Latency
class-map match-any system-cpp-police-protocol-snooping
  description Protocol snooping
class-map match-any system-cpp-police-dhcp-snooping
  description DHCP snooping
class-map match-any system-cpp-police-system-critical
  description System Critical and Gold Pkt
!
policy-map system-cpp-policy
!
! 
!
!
!
!
!
!
!
!
!
!
!
interface GigabitEthernet0/0
 vrf forwarding Mgmt-vrf
 no ip address
 shutdown
 speed 1000
 negotiation auto
!
interface GigabitEthernet1/0/1
 description ## CONEXAO COM SW.GW20 - B303- ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/2
 description ## CONEXAO COM SW.GW18 - B302 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/3
 description ## CONEXAO COM SW.GW10 - A200 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/4
 description ## CONEXAO COM SW.GW11 - B203 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/5
 description ## CONEXAO COM SW.GW31 - B109 porta 52 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/6
 description ## CONEXAO COM SW.GW28 - A100 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/7
 description ## CONEXAO COM SW.GW15 - Guarita ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/8
 description ## CONEXAO COM SW.GW34 - A110 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/9
 description ## CONEXAO COM SW.GW32 porta 28 A113 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/10
!
interface GigabitEthernet1/0/11
 description ## CONEXAO COM SW.GW6 - A108 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/12
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/13
 switchport access vlan 301
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet1/0/14
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/15
 switchport access vlan 200
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet1/0/16
 description ## UPLINK COM SW26-porta24
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/17
 switchport trunk allowed vlan 900
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/18
 description ## CONEXAO COM SW.GW22 - WiFi ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/19
 description ## CONEXAO COM SW.GW23 - CFTV ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/20
 description ## CONEXAO COM SW.GW30 - Servidores ##
 switchport mode trunk
 logging event status
 load-interval 30
!
interface GigabitEthernet1/0/21
 description ## Uplink com Vmware2-porta3 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/22
 description ## CONEXAO COM IPS - FireSight ##
 switchport access vlan 200
 switchport mode access
!
interface GigabitEthernet1/0/23
 description ## CONEXAO COM SW.GW27 - CTIC ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/24
 description ## UPLINK COM ASA PORTA 3 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/1/1
!
interface GigabitEthernet1/1/2
!
interface GigabitEthernet1/1/3
!
interface GigabitEthernet1/1/4
 description ## UPLINK GW.SW26 porta 23 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface Vlan1
 no ip address
 shutdown
!
interface Vlan900
 ip address 172.19.1.33 255.255.255.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
!
ip default-gateway 172.19.1.1
ip tcp selective-ack
ip tcp path-mtu-discovery
ip forward-protocol nd
ip http server
ip http authentication local
ip http secure-server
ip route 0.0.0.0 0.0.0.0 172.19.1.1 name ASA
ip ssh authentication-retries 2
ip ssh logging events
ip ssh version 2
!
!
ip access-list standard SNMP-allow
 permit 10.40.0.81
 permit 10.40.0.175
!
logging history size 500
logging history alerts
logging trap warnings
logging origin-id hostname
logging facility local0
logging host 10.40.0.45 transport udp port 1516
!
snmp-server community gwmonitorpub RO SNMP-allow
snmp-server community gwmonitorpri RW SNMP-allow
snmp-server location R1-CTIC
snmp-server contact patrimonio.882295
!
control-plane
 service-policy input system-cpp-policy
!
!
line con 0
 exec-timeout 5 0
 login local
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 exec-timeout 5 0
 password 7 0245055F06425E275F4D
 login local
 transport input ssh
line vty 5 15
 exec-timeout 5 0
 password 7 074C2048434D48030411
 login local
 transport input ssh
!
ntp server 10.40.0.15
!
!
!
!
!
!
end