Building configuration...

Current configuration : 10070 bytes
!
! Last configuration change at 13:19:24 BRT Tue Oct 1 2019 by admin
! NVRAM config last updated at 15:43:27 BRT Thu Sep 12 2019 by admin
!
version 15.2
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone year
service timestamps log datetime msec localtime show-timezone year
service password-encryption
!
hostname GW.SW27
!
boot-start-marker
boot-end-marker
!
logging buffered 100000
no logging console
!
username teltec privilege 15 password 7 101F5B081216011114
username admin privilege 15 password 7 13462343480B136026252632322701
username ansible privilege 15 password 7 06051B284F0A0817161E5809000160
no aaa new-model
clock timezone BRT -3 0
clock summer-time BRST recurring 3 Sun Oct 0:00 3 Sun Feb 0:00
switch 1 provision ws-c2960x-24ps-l
no ip source-route
no ip gratuitous-arps
!
!
no ip domain-lookup
ip domain-name gw.ifsc.edu.br
login on-failure log
vtp mode transparent
!
!
!
!
!
udld enable

!
!
crypto pki trustpoint TP-self-signed-2473261184
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-2473261184
 revocation-check none
 rsakeypair TP-self-signed-2473261184
!
!
crypto pki certificate chain TP-self-signed-2473261184
 certificate self-signed 01
  3082022B 30820194 A0030201 02020101 300D0609 2A864886 F70D0101 05050030 
  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 32343733 32363131 3834301E 170D3136 30343034 31393136 
  33305A17 0D323030 31303130 30303030 305A3031 312F302D 06035504 03132649 
  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D32 34373332 
  36313138 3430819F 300D0609 2A864886 F70D0101 01050003 818D0030 81890281 
  8100B9DA F6BF49A8 968643CB CC91BAF8 E44800C3 E7FE2557 F6D07188 B39B35C2 
  2A85690E 3C9A5536 04612752 EE875FD8 E262FC11 102D13D2 0BEC5C23 1B8A0655 
  83F4BE7F C475F550 8800A3DB B4DC6CE8 102D6B61 4616BD54 2C57FADF 046203EF 
  052DAA65 516C2291 656C4D02 632A4962 B05CFF9D D3F52FFA 0F056BE5 1F4719C6 
  01FF0203 010001A3 53305130 0F060355 1D130101 FF040530 030101FF 301F0603 
  551D2304 18301680 148C6CC7 39847FE0 27373414 691E99D1 B86D21E4 B4301D06 
  03551D0E 04160414 8C6CC739 847FE027 37341469 1E99D1B8 6D21E4B4 300D0609 
  2A864886 F70D0101 05050003 81810080 AB03357F 7DE40B78 F9AFC986 406C64D7 
  67F5D9D0 CC3A68C4 2D5B1F81 3B2F4F95 708B03A6 2BDA903F 9679E6EA 3C29E7BF 
  2C1306A8 383FFD5C 4B837867 56D75147 51FDB844 C2D21571 3C0B8092 5AD1A6B6 
  45E0EE58 4F387424 AEA4FF5F F8E1BE07 A55FCF65 378C7273 8005A534 91B47B03 
  67E66E93 90FA2246 CF5ADA66 FFBBE5
  	quit
!
spanning-tree mode rapid-pvst
spanning-tree loopguard default
spanning-tree extend system-id
spanning-tree uplinkfast
spanning-tree vlan 1-4094 priority 0
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause security-violation
errdisable recovery cause storm-control
errdisable recovery interval 305
!
!
!
!
vlan internal allocation policy ascending
!
vlan 99 
!
vlan 100
 name SERVERS
!
vlan 110
 name CTIC
!
vlan 111
 name LAN_Impressoras
!
vlan 112
 name LAN_Dispositivos
!
vlan 115
 name LAN_SAMBA4
!
vlan 130
 name ACCESS_POINTS
!
vlan 150
 name CFTV
!
vlan 200
 name ADMIN
!
vlan 201
 name LAN_ADM
!
vlan 202
 name LAN_Professores
!
vlan 203
 name LAN_Guarita
!
vlan 204
 name LAN_Ensino
!
vlan 210
 name samba4-AD
!
vlan 300
 name Lab_B109
!
vlan 301
 name Lab_B203
!
vlan 302
 name Lab_B302
!
vlan 303
 name Lab_B303
!
vlan 304
 name Lab_Containers
!
vlan 305
 name Lab_Outros
!
vlan 306
 name Lab_Projetos
!
vlan 520
 name Wifi_ADM
!
vlan 530
 name Wifi_Aluno
!
vlan 540
 name Wifi_Visitante
!
vlan 550
 name Wifi_Eduroam
!
vlan 700
 name VideoConf
!
vlan 900
 name Gerencia
!
vlan 910
 name clonezilla
!
vlan 999
 name jogos_alunos
!
ip tcp selective-ack
ip tcp path-mtu-discovery
lldp run
!
! 
!
!
!
!
!
!
!
!
interface FastEthernet0
 no ip address
 shutdown
!
interface GigabitEthernet1/0/1
 description C102-CTIC Ponto 01
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/2
 description C102-CTIC Ponto 02
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/3
 description C102-CTIC Ponto 03
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/4
 description C102-CTIC Ponto 04
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/5
 description C102-CTIC Ponto 05
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/6
 description C102-CTIC Ponto 06
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/7
 description C102-CTIC Ponto 07
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/8
 description C102-CTIC Ponto 11
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/9
 description C102-CTIC Ponto 12
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/10
 description C102-CTIC Ponto 13
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/11
 switchport access vlan 301
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/12
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/13
 switchport access vlan 301
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/14
 switchport access vlan 301
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet1/0/15
 switchport access vlan 301
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/16
 switchport access vlan 301
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/17
 description ## CONEXAO COM DELL T3610 ##
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/18
 description ## CONEXAO COM CONTAINER ALUNOS ##
 switchport access vlan 304
 switchport mode access
 switchport port-security mac-address sticky
 switchport port-security mac-address sticky d8d3.85d8.a17d
 switchport port-security aging time 10
 switchport port-security
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/19
 switchport access vlan 110
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/20
 description ## CONEXAO COM CLUSTER_SOLAR ##
 switchport access vlan 112
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/21
 switchport access vlan 999
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/22
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/23
 switchport access vlan 305
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/24
 description ## UPLINK GW.SW26 porta 23 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/25
!
interface GigabitEthernet1/0/26
!
interface GigabitEthernet1/0/27
!
interface GigabitEthernet1/0/28
!
interface Vlan1
 no ip address
 shutdown
!
interface Vlan200
 ip address 10.40.20.27 255.255.0.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 shutdown
!
interface Vlan900
 ip address 172.19.1.27 255.255.255.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
!
ip default-gateway 172.19.1.1
ip http server
no ip http secure-server
!
ip route 0.0.0.0 0.0.0.0 172.19.1.1 name ASA
ip ssh authentication-retries 2
ip ssh logging events
ip ssh version 2
!
ip access-list standard SNMP-allow
 permit 10.40.0.55
 permit 10.40.0.80
 permit 10.40.0.81
 permit 10.40.0.175
!
logging history size 500
logging history informational
logging trap debugging
logging facility local0
!
snmp-server community gwmonitorpub RO SNMP-allow
snmp-server community gwmonitorpri RW SNMP-allow
snmp-server location R1-C102
!
!
line con 0
line vty 0 4
 exec-timeout 5 0
 login local
 transport input ssh
line vty 5 15
 exec-timeout 5 0
 login local
 transport input ssh
!
!
monitor session 1 source interface Gi1/0/23
monitor session 1 destination interface Gi1/0/19
ntp server 10.40.0.15
end