
!
! Last configuration change at 09:34:54 BRT Fri Aug 30 2019
! NVRAM config last updated at 09:32:01 BRT Fri Aug 30 2019
!
version 15.2
no service pad
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname GW.SW29
!
boot-start-marker
boot-end-marker
!
no logging console
enable secret 5 $1$R6AC$4DJ67IC5aRmmsRpM3Jar80
enable password 7 06450E25410A581F1614
!
username admin privilege 15 password 7 125A3146510C1B4E272A2A29343030
no aaa new-model
clock timezone BRT -3 0
clock summer-time BRST recurring 3 Sun Oct 0:00 3 Sun Feb 0:00
switch 1 provision ws-c2960x-24ts-l
!
!
no ip domain-lookup
ip domain-name gw.ifsc.edu.br
vtp mode transparent
!
!
!
!
!
!
!
!
!
spanning-tree mode rapid-pvst
spanning-tree loopguard default
spanning-tree extend system-id
spanning-tree uplinkfast
spanning-tree vlan 1-4094 priority 0
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause storm-control
errdisable recovery interval 305
!
!
!
!
vlan internal allocation policy ascending
!
vlan 90
 name DMZ2
!
vlan 110
 name CTIC
!
vlan 111
 name LAN_Impressoras
!
vlan 112
 name LAN_Dispositivos
!
vlan 120
 name SWITCHS
!
vlan 130
 name ACCESS_POINTS
!
vlan 140
 name NOBREAKS
!
vlan 150
 name CFTV
!
vlan 200
 name ADMIN
!
vlan 201
 name LAN_ADM
!
vlan 202
 name LAN_Professores
!
vlan 203
 name LAN_Guarita
!
vlan 204
 name Lan_Ensino
!
vlan 210
 name samba4-AD
!
vlan 300
 name Lab_B100
!
vlan 301
 name Lab_B200
!
vlan 302
 name Lab_B302
!
vlan 303
 name Lab_B303
!
vlan 304
 name Lab_Containers
!
vlan 305
 name Lab_Outros
!
vlan 306
 name Lan_Projetos
!
vlan 320
 name Lab-200
!
vlan 330
 name Lab-300
!
vlan 340
 name Lab-Etec
!
vlan 520
 name Wifi_ADM
!
vlan 530
 name Wifi_Aluno
!
vlan 540
 name Wifi_Visitante
!
vlan 550
 name Wifi_Eduroam
!
vlan 700
 name VideoConf
!
vlan 900
 name Gerencia
!
vlan 910
 name clonezilla
!
vlan 999
 name vlan_jogos
!
!
! 
!
!
!
!
!
!
!
!
interface FastEthernet0
 no ip address
 shutdown
!
interface GigabitEthernet1/0/1
!
interface GigabitEthernet1/0/2
!
interface GigabitEthernet1/0/3
!
interface GigabitEthernet1/0/4
!
interface GigabitEthernet1/0/5
!
interface GigabitEthernet1/0/6
!
interface GigabitEthernet1/0/7
!
interface GigabitEthernet1/0/8
!
interface GigabitEthernet1/0/9
!
interface GigabitEthernet1/0/10
!
interface GigabitEthernet1/0/11
!
interface GigabitEthernet1/0/12
!
interface GigabitEthernet1/0/13
!
interface GigabitEthernet1/0/14
!
interface GigabitEthernet1/0/15
!
interface GigabitEthernet1/0/16
!
interface GigabitEthernet1/0/17
!
interface GigabitEthernet1/0/18
!
interface GigabitEthernet1/0/19
 description Fone@RNP 191.36.55.142
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/20
!
interface GigabitEthernet1/0/21
!
interface GigabitEthernet1/0/22
!
interface GigabitEthernet1/0/23
 description ##  CONEXAO COM ASA porta 6 VLAN90 - DMZ2##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/24
 description ##  CONEXAO COM SW.GW26 - Porta 17 - GERENCIA VLAN 900##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/25
!
interface GigabitEthernet1/0/26
!
interface GigabitEthernet1/0/27
!
interface GigabitEthernet1/0/28
!
interface Vlan1
 no ip address
 shutdown
!
interface Vlan900
 ip address 172.19.1.29 255.255.255.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
!
ip default-gateway 172.19.1.1
no ip http server
no ip http secure-server
!
ip route 0.0.0.0 0.0.0.0 172.19.1.1 name ASA
ip ssh version 2
!
ip access-list standard SNMP-allow
 permit 10.40.0.81
!
logging history size 500
logging history informational
logging trap debugging
logging facility local0
!
snmp-server community gwmonitorpub RO SNMP-allow
snmp-server community gwmonitorpri RW SNMP-allow
snmp-server location R1-C102
snmp-server contact ti.gw@ifsc.edu.br
!
!
line con 0
line vty 0 4
 exec-timeout 5 0
 password 7 114A2D5454151C46092B25252F3627
 login local
 transport input ssh
line vty 5 15
 exec-timeout 5 0
 password 7 0862781F4A1E125D1F0A02052D2E36
 login local
 transport input ssh
!
ntp server 10.40.0.15
end
