!----------------------------------------------------------------------
!
!           DGS-3100-24 Gigabit stackable L2 Managed Switch            
!                            Configuration                             
!
!                       Firmware: Build 3.60.28                        
!     Copyright(C) 2008 D-Link Corporation. All rights reserved.       
!----------------------------------------------------------------------
 
! BASIC
 
disable telnet 
create account admin admin password 2837466c37b7eb88ab9d103dcb2ca7d4 encrypted 
 
! SNMP
 
create snmp community gwmonitorpub view DefaultSuper read_only 
config snmp system_contact R12-A113 
config snmp system_location R12-A113 
config snmp system_name 578039-gw.sw16 
 
! AUTHENTICATION
 
 
! NETWORK MONITORING
 
 
! LINK AGGREGATION
 
 
! PORT
 
config ports description 1:24 UPLINK_COM_SW26_porta9 
 
! VLAN
 
config vlan default delete 1:(1-24) 
create vlan ADM tag 200 
create vlan LAN_ADM tag 201 
create vlan LAN_ENSINO tag 204 
create vlan Gerencia tag 900 
create vlan clonezilla tag 910 
config vlan ADM add tagged 1:24 
config vlan LAN_ADM add tagged 1:24 
config vlan LAN_ADM add untagged 1:(19-23) 
config vlan LAN_ENSINO add tagged 1:24 
config vlan LAN_ENSINO add untagged 1:(1-18) 
config vlan Gerencia add tagged 1:24 
config vlan clonezilla add tagged 1:24 
config gvrp 1:(1-18) pvid 204 
config gvrp 1:(19-23) pvid 201 
enable vlan_trunk 
config vlan_trunk ports 1:24 state enable 
 
! FORWARDING TABLE
 
 
! BROADCAST STORM CONTROL
 
 
! PORT MIRRORING
 
 
! QOS
 
 
! MULTIPLE SPANNING TREE
 
enable stp 
config stp version rstp 
config stp ports 1:(1-23) edge true 
 
! IGMP SNOOPING
 
 
! 802.1X
 
 
! SNTP
 
enable sntp 
config sntp primary 10.40.0.15 poll-interval 720 
config time_zone operator - hour 03 minute 00 
 
! SSH
 
enable ssh 
 
! SSL
 
 
! BASIC IP
 
config ipif System ipaddress 172.19.1.16/24 vlan Gerencia 
 
! ROUTING TABLE
 
create iproute default 172.19.1.1 
 
! ARP
 
 
! LACP
 
 
! PORT SECURITY
 
 
! STACK
 
 
! POE
 
 
! TRAFFIC SEGMENTATION
 
 
! ACCESS CONTROL LIST
 
 
! HISTORY
 
 
! SAFEGUARD
 
 
! DOWNLOAD
 
 
! LLDP
 
 
! MLD SNOOPING
 
 
! VOICE VLAN
 
config voice_vlan oui-table add 0001e3 description siemens_phone___________ 
config voice_vlan oui-table add 00036b description Cisco_phone_____________ 
config voice_vlan oui-table add 00096e description Avaya_phone_____________ 
config voice_vlan oui-table add 000fe2 description Huawei-3COM_phone_______ 
config voice_vlan oui-table add 0060b9 description nec-philips_phone_______ 
config voice_vlan oui-table add 00d01e description pingtel_phone___________ 
config voice_vlan oui-table add 00e075 description veritel_phone___________ 
config voice_vlan oui-table add 00e0bb description 3Com_phone______________ 
