
!
! Last configuration change at 16:24:54 BRT Tue Jun 11 2019 by admin
! NVRAM config last updated at 16:24:56 BRT Tue Jun 11 2019 by admin
!
version 15.0
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone year
service timestamps log datetime msec localtime show-timezone year
service password-encryption
!
hostname GW.SW21
!
boot-start-marker
boot-end-marker
!
logging buffered 100000
no logging console
!
username admin privilege 15 password 7 1454265A4F033D6129293D34251615
no aaa new-model
clock timezone BRT -3 0
clock summer-time BRST recurring 3 Sun Oct 0:00 3 Sun Feb 0:00
no ip source-route
no ip gratuitous-arps
!
!
no ip domain-lookup
ip domain-name gw.ifsc.edu.br
login on-failure log
vtp mode transparent
udld enable

!
!
crypto pki trustpoint TP-self-signed-3267682816
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-3267682816
 revocation-check none
 rsakeypair TP-self-signed-3267682816
!
!
crypto pki certificate chain TP-self-signed-3267682816
 certificate self-signed 01
  3082022B 30820194 A0030201 02020101 300D0609 2A864886 F70D0101 05050030 
  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 33323637 36383238 3136301E 170D3036 30313032 30303131 
  35335A17 0D323030 31303130 30303030 305A3031 312F302D 06035504 03132649 
  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D33 32363736 
  38323831 3630819F 300D0609 2A864886 F70D0101 01050003 818D0030 81890281 
  8100BEA8 34B10FAC 008D9EEF 3D049ECC 2C1FC1A2 12940873 DA24DC5B 7D64C073 
  CF2E26B2 70855A2B 6B738100 CE1D3053 C43DEF9B CFC4B3B8 5DD1C055 5CAF2EE3 
  A9475D33 9154CE36 030BFC19 A0327EC0 F295C850 282BCBFE 6CACE80F F3490CFB 
  AFCFA1DD 8368186D A1E4C50C 54180B72 AD2B3BE1 E561B06B 8D5AFDCE A14A9C0C 
  78450203 010001A3 53305130 0F060355 1D130101 FF040530 030101FF 301F0603 
  551D2304 18301680 1457085C D189F496 37438BA4 DB16C75B C7C73807 36301D06 
  03551D0E 04160414 57085CD1 89F49637 438BA4DB 16C75BC7 C7380736 300D0609 
  2A864886 F70D0101 05050003 8181005C 20F6E4EA 74602F18 BE004261 E3E5C51F 
  FC742FD3 86DF9019 194867D8 7B220ABC 73052D71 81B69AB2 3D249000 D77F7AF2 
  AA984F82 AD85F45C A742B4D1 2B9D9E72 CDBDF0FC A75B9D52 8E4B29E0 D64DF03D 
  B3767D87 09EEDEF5 35CCB04B C298D943 24D32774 A0565E31 8C59B107 2BDBC791 
  FA311A96 F636780C A3D47623 CA3FD0
  	quit
!
spanning-tree mode rapid-pvst
spanning-tree loopguard default
spanning-tree extend system-id
spanning-tree uplinkfast
spanning-tree vlan 1-4094 priority 0
!
!
!
!
!
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause storm-control
errdisable recovery interval 305
!
!
!
!
vlan internal allocation policy ascending
!
vlan 110
 name CTIC
!
vlan 111
 name LAN_Impressoras
!
vlan 112
 name LAN_Dispositivos
!
vlan 130
 name ACCESS_POINTS
!
vlan 150
 name CFTV
!
vlan 200
 name ADMIN
!
vlan 201
 name LAN_ADM
!
vlan 202
 name LAN_Professores
!
vlan 203
 name LAN_Guarita
!
vlan 204
 name Lan_Ensino
!
vlan 300
 name Lab_B100
!
vlan 301
 name Lab_B200
!
vlan 302
 name Lab_B302
!
vlan 303
 name Lab_B303
!
vlan 304
 name Lab_Containers
!
vlan 305
 name Lab_Outros
!
vlan 520
 name Wifi_ADM
!
vlan 530
 name Wifi_Aluno
!
vlan 540
 name Wifi_Visitante
!
vlan 550
 name Wifi_Eduroam
!
vlan 700
 name VideoConf
!
vlan 900
 name Gerencia
!
vlan 910
 name clonezilla
!
ip tcp selective-ack
ip tcp path-mtu-discovery age-timer 10
ip ssh logging events
ip ssh version 2
!
! 
!
!
!
!
!
!
!
!
interface FastEthernet0
 no ip address
 shutdown
!
interface GigabitEthernet0/1
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/2
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/3
 description ## IMPRESSORA PROFESSORES2  ##
 switchport access vlan 111
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/4
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/5
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/6
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/7
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/8
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/9
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/10
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/11
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/12
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/13
 description ## IMPRESSORA COLORIDA BIBLIOTECA ##
 switchport access vlan 111
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/14
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/15
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/16
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/17
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/18
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/19
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/20
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/21
 description Relogio Ponto LAN_Dispositivos 112
 switchport access vlan 112
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/22
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/23
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/24
 description ## CONEXAO COM GW.SW28 porta 23 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet0/25
!
interface GigabitEthernet0/26
!
interface Vlan1
 no ip address
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 shutdown
!
interface Vlan200
 ip address 10.40.20.21 255.255.0.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 shutdown
!
interface Vlan900
 ip address 172.19.1.21 255.255.255.0
!
ip default-gateway 172.19.1.1
no ip http server
no ip http secure-server
!
!
ip access-list standard SNMP-allow
 permit 10.40.0.81
logging history size 500
logging history informational
logging trap debugging
logging facility local0
snmp-server community gwmonitorpub RO SNMP-allow
snmp-server community gwmonitorpri RW SNMP-allow
snmp-server location R6-A100
!
!
line con 0
 exec-timeout 5 0
 login local
line vty 0 4
 exec-timeout 5 0
 login local
 transport input ssh
line vty 5 15
 exec-timeout 5 0
 login local
 transport input ssh
!
ntp server 10.40.0.15
end
