config-file-header
GW-SW23
v1.4.7.6 / R800_NIK_1_4_194_194
CLI v1.0
set system mode switch 

file SSD indicator encrypted
@
ssd-control-start 
ssd config 
ssd file passphrase control unrestricted 
no ssd file integrity control 
ssd-control-end cb0a3fdb1f3a1af4e4430033719968c0 
!
vlan database
vlan 100,130,150,200-201,520,530,540,550,900 
exit
voice vlan oui-table add 0001e3 Siemens_AG_phone________
voice vlan oui-table add 00036b Cisco_phone_____________
voice vlan oui-table add 00096e Avaya___________________
voice vlan oui-table add 000fe2 H3C_Aolynk______________
voice vlan oui-table add 0060b9 Philips_and_NEC_AG_phone
voice vlan oui-table add 00d01e Pingtel_phone___________
voice vlan oui-table add 00e075 Polycom/Veritel_phone___
voice vlan oui-table add 00e0bb 3Com_phone______________
hostname GW-SW23
enable password level 15 encrypted a4ffccf94f78da9135b73a3ceccb1f4aa059594b
no passwords complexity enable 
username admin password encrypted a4ffccf94f78da9135b73a3ceccb1f4aa059594b privilege 15 
ip ssh server
snmp-server server
snmp-server location R1-C102
snmp-server contact ti.gw@ifsc.edu.br
snmp-server community gwmonitorpub ro 10.40.0.81 view Default 
clock timezone BRT -3
clock summer-time BRTS recurring 3 sun oct 00:00 3 sun feb 00:00 
clock source sntp
sntp unicast client enable
sntp unicast client poll
sntp server 10.40.0.15 
ip domain name gw.ifsc.edu.br
ip name-server  192.168.0.2
ip domain polling-interval 18
!
interface vlan 900
 ip address 172.19.1.23 255.255.255.0 
!
interface gigabitethernet1
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet2
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet3
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet4
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet5
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet6
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet7
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet8
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet9
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet10
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet11
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet12
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet13
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet14
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet15
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet16
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet17
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet18
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet19
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet20
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet21
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet22
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet23
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet24
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet25
 description ##CAMERAS##
 spanning-tree portfast 
 switchport mode access 
 switchport access vlan 150 
!
interface gigabitethernet26
 description ##VAGO##
 spanning-tree portfast 
!
interface gigabitethernet27
 description ##VAGO##
 spanning-tree portfast 
!
interface gigabitethernet28
 description #UPLINK_COM_GW.SW26-porta-18#
 spanning-tree link-type point-to-point 
 switchport trunk allowed vlan add 100,150,200,900 
!
exit
banner login 
+++++++++++++++++++++++++++++++++++++++++++++++
+ IFSC.CAMPUS GERALDO WERNINGHAUS +
ACESSO PERMITIDO SOMENTE
PARA PESSOAS AUTORIZADAS!
TODAS AS CONEXOES ESTAO SENDO
LOGADAS, MONITORADAS E AUDITADAS!!
ATTENTION:
AUTHORIZED PERSONAL ONLY.
IF YOU ARE NOT AUTHORIZED PERSONAL
DISCONNECT IMMEDIATELY.
+++++++++++++++++++++++++++++++++++++++++++++++


ip default-gateway 172.19.1.1 
encrypted ip ssh-client key rsa key-pair
---- BEGIN SSH2 ENCRYPTED PRIVATE KEY ----
Comment: RSA Private Key
7OXi2oRQyDIq9vMAZ8YJbHJsaiNrrmZuDb2qudnoAbqT0PEy2b1yBIvsL+5Yng0hMAUX5b
QtSF9yYChImgJlYdVCyWN5WBLHQNR3+F62NIk1VnccvJ6EX6IacsQkAWMAOsAdFTmn5Z/+
dzEbduPQcXdXzW5G357tX/b0h/6/qvEcVmFmhaSp4nes29D3RsoLykfkzc5Q3wLYjESFnl
BNHt7BbcjQeuIxBWPfcYRq8ea+6aTWEduJ8fN1yQU0/wVs1eO80WiIJOf52nom+LjOlHS+
zQYjYB9by0EdjBErfjjMAXGaGOeUs18gp249BhdE8BQFwk+GzRvPoo2slhNDUcY4mxvT/K
36OERHe+/nP2QXFicFCUpOg/ZfuBkJPiQyaeMgWydDio8nP8aFEYAjwcftTtBMdmHLwQ3O
rPrEiqS/cpC3f/cJOITpWitdR1gRwINa1Aj5dBaaUBv9HpXdgyRcetg4/torKyhwA7C1JD
4bqsDhBDECVGYZOFGMLHTRqynxRKhJ6Z1+GHor5BctCxOif4Ie7luATyem2v9p1T6NkX5V
aV670uiPFDA83+HjLwP7SyVmlc28Haplr1JbnEQWRsZeWmdxVqnAKF1/1Pu5B10Ia9g+vA
P3TIJdNXVV0p8PL2Q+A0iHGLuAt9ubjvBQS8rKhmloLskpyt+E3x2VeP7mgKpn2QSeX09I
mM+01TanqitDq5tg9gWqkAVLCwH8WTOUdrb9/C6lDDR1SADkbBSnL+e/IqOTL+9FaRpk05
ehbRSHEKtFzUZua0H+/rxbO541875GPNYjycVMKDPHSfD5dnW1tcaWemudiYeYTpKeMsii
vCdcYBsjN5pGN95W+3ihyegqJEVlhDfpjwS3uuqZPC+Y+7JkVx12zP+J9Y4TBTobuFl5gP
GTPQZVO/KWMcErXap+DrS/yKiuz/PsDR4sUkFu1zdbZAZOE6AIbzqIXIT7Q7Zu+tnr/DGf
cwjNCgp7UPgGzq6WOx8wiXORYYQka7WiQaPJk0TDFREDgPLn+8XR63Zgnoy0Feimk9ZRKj
8ElNsc/OlavntHoR2ab8xcQ1ek+MhJmfjJZ5qgnae4Jojc+IriqmCTO8EW1w==
---- END SSH2 PRIVATE KEY ----

---- BEGIN SSH2 PUBLIC KEY ----
Comment: RSA Public Key
AAAAB3NzaC1yc2EAAAADAQABAAAAgQDH5F1qXO57qNh03sUiqaoK31JF20hmXML5mYkoVs
2Lb/fX4bwfdUnyR2E5FbBfwinX72hwyVDC/sHpPwwtYNXdGkH0tw/ETSCc0BPPbSy1GwO2
I6gx3WoeFn6vfbRLbf0voxvCImSkwcJ8RoJpbaw8jsdmE2vRTVGLHbUiOdM1Hw==
---- END SSH2 PUBLIC KEY ----
.
encrypted ip ssh-client key dsa key-pair
---- BEGIN SSH2 ENCRYPTED PRIVATE KEY ----
Comment: DSA Private Key
B2LMm6htG3R7qP5dLQXZ37L7fqMaijK/jul7o8EAI3zeVdTTFFhSjLYlsBKAeYjgq8Ii1n
6tS19wMJjveQDV6pA6OR3igON1QD8OwHIw3sZfr6E23by+4/b7upc5w6daUKTm4VIZd5F9
RggPYGBI+tw2DFQOQleRO52OnErf421Bda45nENszGxjUJtfk4QxTjk4n/+aojgwEEoB+0
LFQ2NW2zkLiJVwsaR4VxDeUZRpYlrrrxMMYTSVRQUt1z4EAcyyVZX0jMiMUxRnsa+kJTKP
hk5fTC3hwy9EUsmC9z8Y92/ZtySdqBUDu8uEQHafSx+vrd4VdKZGg2ZYKlKObthW4mUgBk
bHkQyec6J503QL5oCHw7dLUOdEvUBHdcbreL9SGl6d6jpBx9okJUTMvNLQe7l3Ue+o0LT5
hatQaYU/fy7fTpTIMTetzI9dHR2qPrRbCSr2VFYMDuonmm4Fph0BhY59CATWJ9XpOEbVAI
qMRHU4u9x4ZHkCrMLOxaCBHgaTXyGp8pKRnrDgLfAYr2xWAGfLVZDVfQC1pC0+scHJL+Ze
qdJT3d0tr50XnWRbifoHGJ7PvIUYIA4EOsFfrqSdlb3jG77ZenW0zWWExDgg5i4yKe5lXL
CWkbbHKiBfWbCGVvXbRZ2aeR06MrjMJLYpREx5EWbNDVw2+RaH0mxUzRA3clUroVXhnOgM
Us8ehIS+RLDdeac/tg7Yl+GguuCE3mce0hbAySa5tBDhGQP3QfklbxsCDo+64jTSCcO0J9
MqBXpLYjvg4Na+w0LaZV25DaLn+fAlcEPP4ObfkCgoTAWJcJsaTaFUPwlLPG/R
---- END SSH2 PRIVATE KEY ----

---- BEGIN SSH2 PUBLIC KEY ----
Comment: DSA Public Key
AAAAB3NzaC1kc3MAAACBAL9RzaEtbX3WIg+aFM2NIs+8bnLUkk3MtaZkUrle/8G+8Z4rVx
xvDV+7G+6G8AAntGA94TNpdA4HkcEbS6GIaUyw0ERYN08enBdg+nt2BF0PgsUvZbNmxFA2
uIumjqB/RtnLnzeJiIsuGuJ4l3qEaPK1arHEqM4A/dVAnB2i89uXAAAAFQDwXvTWNbqJpP
/XmwyQVcfOAmU8ywAAAIB7YCj+8cYMXWo9ZDCLXWFm5QvHl4+qASY+GpKg/AVDiJQSzeMu
qlnkhXpsnKs/qzF/bZEZuF9KdgSZJ+ttm9kNjKmbXweeJnzBHRNNaOy9emaHItBzG0RIOn
PDNNzCjB46lzL1BoiW1Rddr0D+GoYHnnIzfxdnuLQqs5G8cGJhsgAAAIBkGKst1ULuunQl
Bto30KN2oFrJPpjFdScJhLFOubVPdlmjS2jVmAvn1VoyRlZnINAkooz0MM19kXJuolshuW
SEQ5MdJTUs6JNIaEJYrTkXDNlwBSrLgw32bY5jhYfpRaTseMmnTJ+bZdL33sdGz8VOWtsD
jAhb1eYScOErQSuTRA==
---- END SSH2 PUBLIC KEY ----
.
encrypted crypto key import rsa
---- BEGIN SSH2 ENCRYPTED PRIVATE KEY ----
Comment: RSA Private Key
VCu9RTq7Jpt8Ccuo50uLv5Asqd6bxDZWi9rNpHQn39B0dUB0dJa7eSbn5yoFpUCxKdI/pH
QkfoA06ag29fhklxZnvpfngJHi/FpMT+IpEfEmPg1rjH3y4RWePrOhPPTN5eq0wOYKgiiX
ZAk5c1pJorel4anPvwzOX1tN2F6+WTVHV+SxFHBN4GApgz2KM8BIgVKFbuV1SKNs2mTJPf
UagqbQSka3EXQlFcBa+nAZg8cspPiLa8RyDH+XGR6N3e3NXlyqcEIY95K1vTAMCtkhZTgI
sloOJNsmZcmdJLqRRc6JKK0t5QVHCjbbWOPKTHbRw+PNkEmRWn/nAC/6kiJXjQyr/cTSos
bRwsplljGyIsa7Isq1ItuVEAIwRjw9KKFtvsdUw+S+ergnVBjhOLPqSrih0bGzdHvlwWAw
6mnsGbEh/csQpazUUhifsrvfM3l5iE/hwAt5NWjUbNT0lY34jAfWXJlnl4d8xWGTiz4f9m
2GgVLX5eFzANg0s+YF2GgaWeYR8qY/8OrP3PDnyt+ZA6mMsj4PJx3P1BPi0P5K5CNalTKT
tcbhgi474qsornae4EYcR+aAwRMU7I+/aoDV1eqk6Cl7E+neCoHoTIO0oVMmdmPMfpLM7o
7UQvgMcJtOG6uX5skO8Mm2l6iGjiLYs8V0YEPEeL9zQ7rP1QRdxYsRIc/VRWphCj0DMGX2
LMzYig+4Jne1bnlt7KbgUL4pkEZJOCKtJxzw3scaOlH+k2C5LkiYK6spZKkDOIl++htq9a
de06v5VuI/PbXS6Ej1aNNvqYGuXg5yVjOKs9kj9EMR9VhCjKqOTSyk/fpBu8cHodDi6QLJ
axCB9zD+Lc1LforFTVP9hjGQcxLohwqNqo3aPA7z+xYI+tTPW4cBr9HyDjIvP13BUgaQ+y
gdoBXSo8SIasSLoCMLXRP4ZO14qpRwFRsvPOqBsB5YgdZVSV1D0ZFKr8s4HRuf5BkP8gn+
UghPRLV2Y14w1TjNN/VucyxD3Vr7VC47hgW3y47dfZYEfU233LoJ0cqnSfYrrn5QAcd72r
mmfFZEYXka0kGHVkVrycVSg1835a4kaCx2Fv71XDYVnOkBf17kxhiqE6lQxYlZZ8pCAhH9
b3DcoxDhaTs=
---- END SSH2 PRIVATE KEY ----

---- BEGIN SSH2 PUBLIC KEY ----
Comment: RSA Public Key
AAAAB3NzaC1yc2EAAAADAQABAAAAgQDKOxbxhGNJpZUZmw0TjZIXdFjRSodB8s+FNpMqBO
U3PbQKPlYQKCj232A2nJLzVMW3C4vLkRwD43y5+Sqz7/N/yjIbO7D8kLr4SqBwfhpufdYI
nJL2z/8siyFx67u84M7J4cGyF1w/gwT9vsIQ/TBi7W0MCqqFRmGf6lYlLYaXkw==
---- END SSH2 PUBLIC KEY ----
.
encrypted crypto key import dsa
---- BEGIN SSH2 ENCRYPTED PRIVATE KEY ----
Comment: DSA Private Key
LGVU3J52BkR2/RTr7GGeCs7byO3L+/WSe7JhpLyL765e1KCfF6xLvqbq63d7WDZ5VNxD/0
jnEt9E8yJwmbuQvELRXAPwgBcUBweJQkun/XuhCaMWp+P+8KHRn2l/GjIWT21Wj0GJ6S3c
5HHJUPCeIDa+Kzh22UXSNrl6kumTh3DddEGOJcQnnzadK7tnBCYljKBYe7HhRagDe2jRg4
fa8LZQv2fQw9KNSVZSISqMcpVZacyKJeAacVcVk5zTfwknHHnUCdVdi0cHBCsCKku9mO1F
hmD1mhNsbd6HRuUnzRJhoLHrKygYFr0W86o9vTrKXKVqyn6krbYHERhZl83PieYoxXWmBA
fv1EQHrpk5f15C8FvQyhTt9xXNwuScQqytHCZqISq0GyAtOfsWiJuFjodYorhP51DMQ/k2
Npu1T1zY1tzEm7VT4n7DE2fGJl/u7Dsfvd4SfKBl5cdeAju4QM0ffXFVfq9FdjmEkYkUPr
z7NoGWk3KwmHz1lITYu1RBc+6ijicm8+qDooAZVq0weNKS2DeJPl2eXlidJ2s3UK3wFiod
GRwOfLqdIvpDqgZ9hEuX5qWsV9KJQrdQo903LZHQgZv4UatDqUMW4dX4GSHY1cSdwIWFzj
cd0xo8VnJ2MvtjkJV/WkWaVQjUA6lSZDJylwE1bg/YUY4p+lZH/UIVW0Q/nx5VQmnj+mdh
C7gedSm4yruVjmA6A9s6HR4OjOc/rNtG1KhG0igS2FXrgAZawVg41JixwuTk2TBM5j4CBB
DBnc3TKfUKDoDvwp6aw2CHHAfB0QGkowAVNTlCk7bLfkCj4yfo7ddoLnm3Xysi
---- END SSH2 PRIVATE KEY ----

---- BEGIN SSH2 PUBLIC KEY ----
Comment: DSA Public Key
AAAAB3NzaC1kc3MAAACBAOJ4Qhq5iQY4JiR45BnqXPOYSaWd21V0DzpVXGOXjDJ4/aUFgp
3s8Is5kkPS7pdH9geuo6TtFLGvpW5OXwsg61/xmX5EaWHfmaMCXoFdRVieO7KdWOFK4WLv
OIcg19vEfHb+P3VRc6d9niFew+ER2AQmqgLclEXxSySdMWuyd/aLAAAAFQCQeey0sGm3p2
U13+K1tQBe2ous3QAAAIBLiUis2mW2Bf1cyumN7XvFhd2wUt03smoreJwTHjXyUM5BjQKI
YK/80/hB2/7OxXU54hfUTWDQDL+GFzaD+ZBq0czrkM1W2nh11x4a//PJBljbdNBcPKqtiM
OIsAKhHBSB8Pw7iAAIdDvxria5vQUplCtX7X9QqoV6/G3fKj/qFQAAAIBcOLfZ0xSp3akf
EqwfHKHhw4bYO4kNrWP73JvTRG73nz7HvisRPXKtVvMWHGWkLFshFRg1OKJ7MXbfJWe2ga
yoYBPctzT8dNyWXBkafxEFgQA9MYzQP3WbPP7EmUpM/XJAobjNjF8Yw4NvtRlcT0JMuE2V
HnD2sjvQpUJd4PcLfg==
---- END SSH2 PUBLIC KEY ----
.
encrypted crypto certificate 1 import
-----BEGIN RSA ENCRYPTED PRIVATE KEY-----
bBYZtY+EqxIpOdZ9R59VbFNG/W/APVZgHnvo4JyNiE758eVSQS2lvuFjdhptEsRNh4YvlE
YIH8tXTMlb9NuUYFlCrsO3Trx2ykh/x9FGlUvYp1i86FI9EFn8PbthyAuFjcrWSRuJihZg
CJijEOT23dWObPfti3x/MgmPcM6j2ubn5cWEQnbC7yQLgGDwl88UGaCpUQgbLok7E1BChZ
HPIp6UkSquwPvF3U6XOIcWtDLaNplIvqZWoFW6cDVTEp2gVZViY4jAXc+xoCb8+PxlJ/un
BOo8pY+YYnfWzQEXiQkRfQNS3GFDAX7eNNm50NemT3aDpl8WPwzyDUtIRB2GDfANm8XzCm
oZvGdLN3wv1phz8TNmFaJIgf8f0PDOeB37vRJTKF7kQN8qCDj72FSwfdjQvq/S38ovMgz0
HBYUPGyWS6+RQ/GiZ7BjohnJBVHrYVDmeNZfB5wzT3WHA1YJhj3prd+IihzQIz6Si5tMmq
OpPxDQmpuCXBGkrBnRkCumUZ82Y8TY5+2+0wc4XvAQ1jUzrA3KDdra8lXJ9OajGdSJbG9V
r9l2QG1rntMXu9bpkP6eSGmGxqCd3pgNKyCZ5Zy62r1EbjJKVKDrSq/p70JG45cbY1C+iz
av8XSZPWjS0FnYNPLe6tzQTSZZm/dM79wd8eaYEYpHdL0e9VEU4MIJFcBJIQ4rdaMdrO6T
3aaotdXlGWlIPBgC5VOaQwxs0h9hOVwrmHTleT34LZy3dnVVcQ4A2Qm7u9Y4orZb1ogOLr
/rNdiDosqYhTroYYbbPAfwMl7P9vRmElwjzT6wAbYa33q9ZQ4vvpafPlVS9JLuc/6zpI8g
xK6FR8WkUbTil7Ydvxg63xIOKLYvJ5NalDGX92tJ+ScFv5lD+8i+PEVL0WLcVRoZ666Jhe
gtTvx6pKVLPj2RTs6aKnygzykq0YQ29pia8YWbI5RmbaWx9r05YqNGZhaVkjTA4jiADOOI
cOFOODKjIMiy7609+nU68r3qaPI+o3lSk05thzcggdWwp0VKTvdE7CbHVbL2Wlqx2dSJz7
cZ8FYmEB85PHtrGohdTs+2aUJsTgUJRMFqr6v7oqmGY+4PoTMBnmqAs6nCFA==
-----END RSA PRIVATE KEY-----

-----BEGIN RSA PUBLIC KEY-----
MIGJAoGBAK8rgaN+QegcvQTVIyaVjzftTKmYZrZYW3pSW0uoLkQCfVBI1wc5q6CkahU6zp
KYTrmT+fzz4wfEIEquICB9z3EOm7i0uDNzv53lhu0xZzX1c22F4NnM3hfqXoZYGuQh/kdr
NPdOs1qMpLrH4r057oVcLFJ80HxnNKG9+RtZkWy3AgMBAAE=
-----END RSA PUBLIC KEY-----
-----BEGIN CERTIFICATE-----
MIICJDCCAY0CEFK1gkxAr/LM7G5mFZVO/nEwDQYJKoZIhvcNAQEFBQAwUzELMAkG
A1UEBhMCICAxCjAIBgNVBAgMASAxCjAIBgNVBAcMASAxFDASBgNVBAMMCzE3Mi4x
OS4xLjIzMQowCAYDVQQKDAEgMQowCAYDVQQLDAEgMB4XDTE2MTIwNzE4Mzc1NFoX
DTE3MTIwNzE4Mzc1NFowUzELMAkGA1UEBhMCICAxCjAIBgNVBAgMASAxCjAIBgNV
BAcMASAxFDASBgNVBAMMCzE3Mi4xOS4xLjIzMQowCAYDVQQKDAEgMQowCAYDVQQL
DAEgMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCvK4GjfkHoHL0E1SMmlY83
7UypmGa2WFt6UltLqC5EAn1QSNcHOaugpGoVOs6SmE65k/n88+MHxCBKriAgfc9x
Dpu4tLgzc7+d5YbtMWc19XNtheDZzN4X6l6GWBrkIf5HazT3TrNajKS6x+K9Oe6F
XCxSfNB8ZzShvfkbWZFstwIDAQABMA0GCSqGSIb3DQEBBQUAA4GBAA6NYmaTOCrF
UVwenS+pKhNw9rUABRyDVXni/ogipRBLqIT8MZSf1MmFt7L7z3iJRr1uGBi31KDm
2OLyDOGAlcQnA6dmUN3tyn5kChfgMFzUBz7BpJV2tcDEGy1mbPqhIGz2Wx/sznz2
3LqUEJJbjOxkI15T2T4Yrl5mmBLzp8G7
-----END CERTIFICATE-----
.
encrypted crypto certificate 2 import
-----BEGIN RSA ENCRYPTED PRIVATE KEY-----
PgsfKCsmyMpWdqh3sxOxCgBtGlwEvArIAn93jfqkCk7F4Lozp+6gxZa5fCQqklqY2ERI6+
XflE9YsBr/zS+ntPtU+gDB4x/7d4NDJJTmHD9I5Vjf+cCc2fKs57ZWK5jUQsP1+s8crUR0
gfoslwKoQiORPK2zgBZiFIkk8j7UaSaLZI3JKCAH2NIxmyzWz6/5X3lcKqTjnUjHdNMWaG
7e713Po/eCPpOQyb0OlnTtapZTATA2d9M+Evbo7TsBbUGrLCUW+odby2fQK3wtYgKhbRGX
cZlktclJd0HXi8h7TPA2Qy3BczxILL7UoRp8/0TLOyt+DBb/DKdGTOp9+tkbfj2+w98PAC
ZfzTZn5kWEEbg6xazf5A6kspbyKkqhij6Kx2Z4yffxfLg/2DJYdtGVIqLAAzctcUqqziJw
gP/JH28omv/nUCVncKBiyMQ0Ove949IJcJzR2/cFAUkDeJo1ssHCbUrOhzryM5A3K5a8jE
Pq+rdOQ11/L4xyes8zTdilEgNlaBZTowDKdxm8C5So+/62aJjFoby/eUEhk9vJQtCMOqfU
TDPjYardMXjmvFbZKCBiKPPBLlfzdtHcgpmB5wGflY6YlRqyoWVFBLl6V5U9eLVyevsBEa
uTADzQ7lAbAWYhgRhgM4NDZEsMF0tpROfAd1ocaAKjMpcLRrrMi0W5ctUWXmrX/+Uk9Zu2
79c2TlYIdF4ATBU/FChsiclWdzy2mdv7ZZQQJpSsG7hESRAUGKH0hqP2HwZy5GFdZLe/Ys
5DOndGVFmKC+f9PSaIYuOS418m6d/Wy0x51dxcqt7X6oIDN0D58KVOefQwgNUGnQhnwQIy
+2ZcSf+vNm73qVEADFQzwE159znnJjb6aRoFaVMlrdLuoBGMDWyu7P6JaifQ2w/aJ4T9oI
UqzGlknYyTUMioEsenmzowvXCdQle8jLJP0czUmHjlnULYOdQQU4cQiBKIbdj975vF4htb
2JiUElhQDn4J9EnhxTBg0aP4IWuJbyiTEBGVHdJGFFGRR5UjN0ujTBbE/uSAqDiBIbL0cf
T6Q+uqt6XMeKUNK7McTY0JSQEE0Ed4Z+1KBlTSAaovV1mA1Cpp9/M9YytAHw==
-----END RSA PRIVATE KEY-----

-----BEGIN RSA PUBLIC KEY-----
MIGJAoGBAOFfn5ZN4FQKvhJyuGj2J3EvgogNfsYD5ZlpD18xD1B+8bSmwEiALQpQ0lxseR
eZrF1LTeTZkMzbKFQ/fDa2w+AjnUWRiTw0lGx6hP1m7guyDNsEkzqLCYoHOE+Xip5avRsd
i8Mo+jJ67Y1HWmF5IEdVTSbCEyl9b5ZNen0hhAjrAgMBAAE=
-----END RSA PUBLIC KEY-----
-----BEGIN CERTIFICATE-----
MIICJDCCAY0CEEqYKo9kbk1WBh4286N+js4wDQYJKoZIhvcNAQEFBQAwUzELMAkG
A1UEBhMCICAxCjAIBgNVBAgMASAxCjAIBgNVBAcMASAxFDASBgNVBAMMCzE3Mi4x
OS4xLjIzMQowCAYDVQQKDAEgMQowCAYDVQQLDAEgMB4XDTE2MTIwNzE4Mzc1OFoX
DTE3MTIwNzE4Mzc1OFowUzELMAkGA1UEBhMCICAxCjAIBgNVBAgMASAxCjAIBgNV
BAcMASAxFDASBgNVBAMMCzE3Mi4xOS4xLjIzMQowCAYDVQQKDAEgMQowCAYDVQQL
DAEgMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDhX5+WTeBUCr4Scrho9idx
L4KIDX7GA+WZaQ9fMQ9QfvG0psBIgC0KUNJcbHkXmaxdS03k2ZDM2yhUP3w2tsPg
I51FkYk8NJRseoT9Zu4LsgzbBJM6iwmKBzhPl4qeWr0bHYvDKPoyeu2NR1pheSBH
VU0mwhMpfW+WTXp9IYQI6wIDAQABMA0GCSqGSIb3DQEBBQUAA4GBANHyb6LmTINb
TfOV7yooT134AXgDm7zLydgHxzpT2oOE7uPtaguoFEDjIyfire23v9ur2SquKu4M
E0EYcPPWGkV4jcAnIo6CEXFp4XFgMn8qcLHSAjd8S9ykoJfNoyHRDkoK8xP9w8Bk
3I1J0QmXGr5JjFZpPC6HQNVdueGmYTIY
-----END CERTIFICATE-----
.
