
!
! Last configuration change at 11:43:37 BRT Thu Sep 26 2019
! NVRAM config last updated at 11:56:12 BRT Thu Sep 26 2019 by admin
!
version 15.2
no service pad
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname sw24.723574
!
boot-start-marker
boot-end-marker
!
!
enable secret 5 $1$nCes$ZNWvGJnnyeuBoJ1jHTQ9x0
enable password 7 100D3D48461005410105242A232D21
!
username admin privilege 15 password 7 0862781F4A1E125D1F0A02052D2E36
no aaa new-model
clock timezone BRT -3 0
clock summer-time BRST recurring 3 Sun Oct 0:00 3 Sun Feb 0:00
!
!
!
no ip domain-lookup
ip domain-name gw.ifsc.edu.br
vtp mode transparent
!
!
!
!
!
!
!
!
!
spanning-tree mode rapid-pvst
spanning-tree loopguard default
spanning-tree extend system-id
spanning-tree uplinkfast
spanning-tree vlan 1-4094 priority 0
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause storm-control
errdisable recovery interval 305
!
!
!
!
vlan internal allocation policy ascending
!
vlan 201
 name LAN_ADM
!
vlan 204
 name Lan_Ensino
!
vlan 900
 name Gerencia
!
!
! 
!
!
!
!
!
!
!
!
interface FastEthernet0
 no ip address
 shutdown
!
interface GigabitEthernet0/1
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/2
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/3
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/4
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/5
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/6
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/7
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/8
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/9
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/10
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/11
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/12
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/13
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/14
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/15
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/16
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/17
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/18
 switchport access vlan 204
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/19
 switchport access vlan 201
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/20
 switchport access vlan 201
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/21
 switchport access vlan 201
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/22
 switchport access vlan 201
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/23
 switchport access vlan 201
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/24
 description ##  CONEXAO COM SW.GW33-core - Porta 09 - GERENCIA VLAN 900##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet0/25
!
interface GigabitEthernet0/26
!
interface Vlan1
 no ip address
 shutdown
!
interface Vlan900
 ip address 172.19.1.24 255.255.255.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
!
ip default-gateway 172.19.1.1
no ip http server
no ip http secure-server
!
ip ssh version 2
!
ip access-list standard SNMP-allow
 permit 10.40.0.81
!
logging history size 500
logging history informational
logging trap debugging
logging facility local0
snmp-server community gwmonitorpub RO SNMP-allow
snmp-server community gwmonitorpri RW SNMP-allow
snmp-server location R12-A113
snmp-server contact ti.gw@ifsc.edu.br
!
!
line con 0
line vty 0 4
 exec-timeout 5 0
 password 7 0548325E624B5943140419130C0916
 login local
 transport input ssh
line vty 5 15
 exec-timeout 5 0
 password 7 0548325E624B5943140419130C0916
 login local
 transport input ssh
!
end
