
!
! Last configuration change at 16:30:44 BRT Tue Jun 11 2019 by admin
! NVRAM config last updated at 16:30:41 BRT Tue Jun 11 2019 by admin
!
version 15.0
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone year
service timestamps log datetime msec localtime show-timezone year
service password-encryption
!
hostname GW.SW25
!
boot-start-marker
boot-end-marker
!
logging buffered 100000
no logging console
!
username admin privilege 15 password 7 114A2D5454151C46092B25252F3627
no aaa new-model
clock timezone BRT -3 0
clock summer-time BRST recurring 3 Sun Oct 0:00 3 Sun Feb 0:00
no ip source-route
no ip gratuitous-arps
!
!
no ip domain-lookup
ip domain-name gw.ifsc.edu.br
login on-failure log
vtp mode transparent
udld enable

!
!
crypto pki trustpoint TP-self-signed-3265597184
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-3265597184
 revocation-check none
 rsakeypair TP-self-signed-3265597184
!
!
crypto pki certificate chain TP-self-signed-3265597184
 certificate self-signed 01
  3082022B 30820194 A0030201 02020101 300D0609 2A864886 F70D0101 05050030 
  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 33323635 35393731 3834301E 170D3036 30313032 30303037 
  35355A17 0D323030 31303130 30303030 305A3031 312F302D 06035504 03132649 
  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D33 32363535 
  39373138 3430819F 300D0609 2A864886 F70D0101 01050003 818D0030 81890281 
  8100B7CB F135D885 46AB6975 5367794F EA496FD0 1F032A50 E53E7E88 E040F81A 
  84CDA6A8 F98CC1ED 4C7509E6 26F6A6C2 D4359C43 3AECD812 81412498 F2942BA9 
  972A5294 0BE45BF9 9E92C0E4 98C2FE88 51B898B7 5AABE5CD 921A1B8C DB5F437D 
  6999AF0A 7DC00568 B2685342 DAD3D4D6 A29447AC 90BAEDD7 068F3F26 3E0ECEF2 
  02870203 010001A3 53305130 0F060355 1D130101 FF040530 030101FF 301F0603 
  551D2304 18301680 14D55BA6 D3F5D042 DA979F64 A8633530 4FF4A9E5 74301D06 
  03551D0E 04160414 D55BA6D3 F5D042DA 979F64A8 6335304F F4A9E574 300D0609 
  2A864886 F70D0101 05050003 8181003D 52A3DE9B C3E83AEC 19957922 AED1305A 
  3885E647 8ECA8F44 4633BA07 ED5035DD 4D92D96E DCC1533A 336B33A5 08CD5919 
  030F45E5 56233CE9 E18EB4D5 8261BCAA 008B105E 54AE0828 0A162292 A4A9C225 
  6CD6DD20 43AA8485 F9422806 5152C854 1FF47E00 3805013D 9DEC154E BA88A1E2 
  C9FFF329 F572D5BA ABC22349 0D2979
  	quit
!
spanning-tree mode rapid-pvst
spanning-tree loopguard default
spanning-tree extend system-id
spanning-tree uplinkfast
spanning-tree vlan 1-4094 priority 0
!
!
!
!
!
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause storm-control
errdisable recovery interval 305
!
!
!
!
vlan internal allocation policy ascending
!
vlan 110
 name CTIC
!
vlan 111
 name LAN_Impressoras
!
vlan 112
 name LAN_Dispositivos
!
vlan 130
 name ACCESS_POINTS
!
vlan 150
 name CFTV
!
vlan 200
 name ADMIN
!
vlan 201
 name LAN_ADM
!
vlan 202
 name LAN_Professores
!
vlan 203
 name LAN_Guarita
!
vlan 204
 name Lan_Ensino
!
vlan 300
 name Lab_B100
!
vlan 301
 name Lab_B200
!
vlan 302
 name Lab_B302
!
vlan 303
 name Lab_B303
!
vlan 304
 name Lab_Containers
!
vlan 305
 name Lab_Outros
!
vlan 520
 name Wifi_ADM
!
vlan 530
 name Wifi_Aluno
!
vlan 540
 name Wifi_Visitante
!
vlan 550
 name Wifi_Eduroam
!
vlan 700
 name VideoConf
!
vlan 900
 name Gerencia
!
vlan 910
 name clonezilla
!
ip tcp selective-ack
ip tcp path-mtu-discovery age-timer 10
ip ssh logging events
ip ssh version 2
!
! 
!
!
!
!
!
!
!
!
interface FastEthernet0
 no ip address
 shutdown
!
interface GigabitEthernet0/1
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/2
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/3
 description ### VLAN 700 VideConf Sala A104 ###
 switchport access vlan 700
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/4
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/5
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/6
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/7
 description ### IMPRESSORA REGISTRO ###
 switchport access vlan 111
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/8
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/9
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/10
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/11
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/12
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/13
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/14
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/15
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/16
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/17
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/18
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/19
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/20
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/21
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/22
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/23
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet0/24
 description ## CONEXAO COM GW.SW28 porta 22 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet0/25
!
interface GigabitEthernet0/26
!
interface Vlan1
 no ip address
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 shutdown
!
interface Vlan200
 ip address 10.40.20.25 255.255.0.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 shutdown
!
interface Vlan900
 ip address 172.19.1.25 255.255.255.0
!
ip default-gateway 172.19.1.1
no ip http server
no ip http secure-server
!
!
ip access-list standard SNMP-allow
 permit 10.40.0.81
logging history size 500
logging history informational
logging trap debugging
logging facility local0
snmp-server community gwmonitorpub RO SNMP-allow
snmp-server community gwmonitorpri RW SNMP-allow
snmp-server location R6-A100
!
!
line con 0
 exec-timeout 5 0
 login local
line vty 0 4
 exec-timeout 5 0
 login local
 transport input ssh
line vty 5 15
 exec-timeout 5 0
 login local
 transport input ssh
!
ntp server 10.40.0.15
end
