
!
! Last configuration change at 15:54:31 BRT Wed Jun 12 2019 by admin
! NVRAM config last updated at 15:54:32 BRT Wed Jun 12 2019 by admin
!
version 15.2
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone year
service timestamps log datetime msec localtime show-timezone year
service password-encryption
!
hostname GW.SW26
!
boot-start-marker
boot-end-marker
!
logging buffered 100000
no logging console
!
username admin privilege 15 password 7 0862781F4A1E125D1F0A02052D2E36
no aaa new-model
clock timezone BRT -3 0
clock summer-time BRST recurring 3 Sun Oct 0:00 3 Sun Feb 0:00
switch 1 provision ws-c2960x-24ps-l
no ip source-route
no ip gratuitous-arps
!
!
no ip domain-lookup
ip domain-name gw.ifsc.edu.br
login on-failure log
vtp mode transparent
!
!
!
!
!
udld enable

!
!
crypto pki trustpoint TP-self-signed-2472870784
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-2472870784
 revocation-check none
 rsakeypair TP-self-signed-2472870784
!
!
crypto pki certificate chain TP-self-signed-2472870784
 certificate self-signed 01
  3082022B 30820194 A0030201 02020101 300D0609 2A864886 F70D0101 05050030 
  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 32343732 38373037 3834301E 170D3136 30343034 31393136 
  31315A17 0D323030 31303130 30303030 305A3031 312F302D 06035504 03132649 
  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D32 34373238 
  37303738 3430819F 300D0609 2A864886 F70D0101 01050003 818D0030 81890281 
  8100B449 0C4B8A52 041B5398 3F168827 1E0C6F73 14A22B1A 35016A21 093AF84B 
  B621680A 12074BDB 9B5D8105 82CCDFE3 CD2F4E9D 82FA5939 E0A8C6CD CD9BB680 
  9A33B3B6 694840EC 5168A949 7703F449 4363D71F E8A568A5 E6F8C90C 8E8D0EA5 
  934A9BA2 51183849 5D94D693 17998944 C4DDB29B C52220CB 585AAC95 C3090F98 
  257D0203 010001A3 53305130 0F060355 1D130101 FF040530 030101FF 301F0603 
  551D2304 18301680 14C323FB 679D9C82 6936E1C9 ADCFAEC9 D62411C7 BA301D06 
  03551D0E 04160414 C323FB67 9D9C8269 36E1C9AD CFAEC9D6 2411C7BA 300D0609 
  2A864886 F70D0101 05050003 8181009F F08EF8CD 9DE8E4E4 58028CA8 4A5303A6 
  03F0AB91 5570D57C 67C94803 3D98819A 979FA665 BE9E0903 599A9615 AE6AC2B8 
  6AEDB031 23FA58E7 08468487 0718C350 E4F1BD5E 3E0152D2 0BA419C9 60757854 
  4B4B6977 9CAA5FB5 864A9E4D 7EE34D38 E4B46C2B 1A71679E DE14DB5D 0C29462C 
  B36AAFE7 B86DF0D9 C2C90FED 7857D5
  	quit
!
spanning-tree mode rapid-pvst
spanning-tree loopguard default
spanning-tree extend system-id
spanning-tree uplinkfast
spanning-tree vlan 1-4094 priority 0
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause storm-control
errdisable recovery interval 305
!
!
!
!
vlan internal allocation policy ascending
!
vlan 110
 name CTIC
!
vlan 111
 name LAN_Impressoras
!
vlan 112
 name LAN_Dispositivos
!
vlan 130
 name ACCESS_POINTS
!
vlan 150
 name CFTV
!
vlan 200
 name ADMIN
!
vlan 201
 name LAN_ADM
!
vlan 202
 name LAN_Professores
!
vlan 203
 name LAN_Guarita
!
vlan 204
 name Lan_Ensino
!
vlan 210
 name samba4-AD
!
vlan 300
 name Lab_B100
!
vlan 301
 name Lab_B200
!
vlan 302
 name Lab_B302
!
vlan 303
 name Lab_B303
!
vlan 304
 name Lab_Containers
!
vlan 305
 name Lab_Outros
!
vlan 306
 name Lan_Projetos
!
vlan 520
 name Wifi_ADM
!
vlan 530
 name Wifi_Aluno
!
vlan 540
 name Wifi_Visitante
!
vlan 550
 name Wifi_Eduroam
!
vlan 700
 name VideoConf
!
vlan 900
 name Gerencia
!
vlan 910
 name clonezilla
!
vlan 999
 name jogos_alunos
!
ip tcp selective-ack
ip tcp path-mtu-discovery
lldp run
!
! 
!
!
!
!
!
!
!
!
interface FastEthernet0
 no ip address
!
interface GigabitEthernet1/0/1
 description ## CONEXAO COM SW.GW20 - B303 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/2
 description ## CONEXAO COM SW.GW18 - B302 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/3
 description ## CONEXAO COM SW.GW10 - A200 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/4
 description ## CONEXAO COM SW.GW11 - B203 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/5
 description ## CONEXAO COM SW.GW13 - B109 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/6
 description ## CONEXAO COM SW.GW28 - A100 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/7
 description ## CONEXAO COM SW.GW15 - Guarita ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/8
 description ## CONEXAO COM SW.GW12 - A110 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/9
 description ## CONEXAO COM SW.GW16 - A113 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/10
!
interface GigabitEthernet1/0/11
 description ## CONEXAO COM SW.GW6 - A108 ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/12
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/13
 switchport access vlan 900
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/14
 description ## CONEXAO COM SW.GW1 - VLAN ##
 switchport access vlan 910
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/15
 switchport access vlan 200
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet1/0/16
 switchport access vlan 200
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet1/0/17
 switchport access vlan 310
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet1/0/18
 description ## CONEXAO COM SW.GW22 - WiFi ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/19
 description ## CONEXAO COM SW.GW23 - CFTV ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/20
 description ## CONEXAO COM SW.GW30 - Servidores ##
 switchport mode trunk
 logging event status
 load-interval 30
!
interface GigabitEthernet1/0/21
 description Uplink com Vmware2-porta3
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/22
 description ## CONEXAO COM IPS - FireSight ##
 switchport access vlan 200
 switchport mode access
!
interface GigabitEthernet1/0/23
 description ## CONEXAO COM SW.GW27 - CTIC ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree portfast
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/24
 description ## UPLINK-FWJW ASA 5516-X ##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/25
!
interface GigabitEthernet1/0/26
!
interface GigabitEthernet1/0/27
!
interface GigabitEthernet1/0/28
!
interface Vlan1
 no ip address
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 shutdown
!
interface Vlan200
 ip address 10.40.20.26 255.255.0.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 shutdown
!
interface Vlan900
 ip address 172.19.1.26 255.255.255.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
!
ip default-gateway 172.19.1.1
no ip http server
no ip http secure-server
!
ip route 0.0.0.0 0.0.0.0 172.19.1.1 name ASA
ip ssh authentication-retries 2
ip ssh logging events
ip ssh version 2
!
ip access-list standard SNMP-allow
 permit 10.40.0.81
!
logging history size 500
logging history informational
logging trap debugging
logging facility local0
!
snmp-server community gwmonitorpub RO SNMP-allow
snmp-server community gwmonitorpri RW SNMP-allow
snmp-server location R1-C102
!
!
line con 0
 exec-timeout 5 0
 login local
line vty 0 4
 exec-timeout 5 0
 login local
 transport input ssh
line vty 5 15
 exec-timeout 5 0
 login local
 transport input ssh
!
ntp server 10.40.0.15
end
