
!
! Last configuration change at 10:00:05 BRT Tue Oct 1 2019 by admin
! NVRAM config last updated at 09:59:04 BRT Tue Oct 1 2019 by admin
!
version 15.2
no service pad
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname GW.SW30
!
boot-start-marker
boot-end-marker
!
no logging console
enable secret 5 $1$RM6V$QfL0Ty7Ri8Ym5/aLPmI6d1
enable password 7 06453B700F491E5308161C0A0B0138
!
username admin privilege 15 password 7 100D3D48461005410105242A232D21
username ctic privilege 15 password 7 04581F0F0C701E1D5D
no aaa new-model
clock timezone BRT -3 0
clock summer-time BRST recurring 3 Sun Oct 0:00 3 Sun Feb 0:00
switch 1 provision ws-c2960x-24ts-l
!
!
no ip domain-lookup
ip domain-name gw.ifsc.edu.br
vtp mode transparent
!
!
!
!
!
!
!
crypto pki trustpoint TP-self-signed-2813988736
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-2813988736
 revocation-check none
 rsakeypair TP-self-signed-2813988736
!
!
crypto pki certificate chain TP-self-signed-2813988736
 certificate self-signed 01
  3082022B 30820194 A0030201 02020101 300D0609 2A864886 F70D0101 05050030 
  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 32383133 39383837 3336301E 170D3138 30363237 31343330 
  31335A17 0D323030 31303130 30303030 305A3031 312F302D 06035504 03132649 
  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D32 38313339 
  38383733 3630819F 300D0609 2A864886 F70D0101 01050003 818D0030 81890281 
  8100B747 BC031735 50B74B53 196E7C7B 3A060D78 FF03D1AB C53C751D 1D0AB6E3 
  2E911862 7B589014 2FEE5EF5 95931AAE 5BF64DFB B6E5E028 20F0287A FC8C3CD3 
  FF100D28 7076CF8A 674D2339 7DD39DBC 555D64A5 44816DEF 7A2FB630 AAC15A8B 
  AF049A1B 69182BE1 66C2CD6A DCD96241 651BB50C 8D72E201 4CA0015D 19FD7DD0 
  47070203 010001A3 53305130 0F060355 1D130101 FF040530 030101FF 301F0603 
  551D2304 18301680 146E8419 3D660E91 453B2313 A7534B54 E44EC219 1E301D06 
  03551D0E 04160414 6E84193D 660E9145 3B2313A7 534B54E4 4EC2191E 300D0609 
  2A864886 F70D0101 05050003 81810011 E54FD891 EFE83FCF 19D2CD11 44334572 
  F3BFEDE0 4048FBC5 7A31A600 88A7D619 65DE30A5 5C866290 7591FA2A 003D2FB6 
  134D64E3 1881DBD9 685D45CC 34EA0F77 CB3C46EE 7019B668 E14921B7 71331377 
  7FEC411F 4BAB6AE2 C6AE0588 D33EF0E3 D43B86CE 23B73D14 A3C6F638 C49D0DCB 
  750DE2F4 F17193C2 336EDC7E 1A64BA
  	quit
!
spanning-tree mode rapid-pvst
spanning-tree loopguard default
spanning-tree extend system-id
spanning-tree uplinkfast
spanning-tree vlan 1-4094 priority 0
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause storm-control
errdisable recovery interval 305
!
!
!
!
vlan internal allocation policy ascending
!
vlan 90
 name DMZ2
!
vlan 110
 name CTIC
!
vlan 111
 name LAN_Impressoras
!
vlan 112
 name LAN_Dispositivos
!
vlan 115
 name LAN_SAMBA4
!
vlan 120
 name SWITCHS
!
vlan 130
 name ACCESS_POINTS
!
vlan 140
 name NOBREAKS
!
vlan 150
 name CFTV
!
vlan 200
 name ADMIN
!
vlan 201
 name LAN_ADM
!
vlan 202
 name LAN_Professores
!
vlan 203
 name LAN_Guarita
!
vlan 204
 name Lan_Ensino
!
vlan 210
 name samba4-AD
!
vlan 300
 name Lab_B100
!
vlan 301
 name Lab_B200
!
vlan 302
 name Lab_B302
!
vlan 303
 name Lab_B303
!
vlan 304
 name Lab_Containers
!
vlan 305
 name Lab_Outros
!
vlan 306
 name Lan_Projetos
!
vlan 320
 name Lab-200
!
vlan 330
 name Lab-300
!
vlan 340
 name Lab-Etec
!
vlan 520
 name Wifi_ADM
!
vlan 530
 name Wifi_Aluno
!
vlan 540
 name Wifi_Visitante
!
vlan 550
 name Wifi_Eduroam
!
vlan 700
 name VideoConf
!
vlan 900
 name Gerencia
!
vlan 910
 name clonezilla
!
vlan 999
 name vlan_jogos
!
!
! 
!
!
!
!
!
!
!
!
interface FastEthernet0
 no ip address
 shutdown
!
interface GigabitEthernet1/0/1
 description ##  server: arquivos eth0
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/2
 description ##  server: gw-backup eth0
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/3
 description ##  server:VMware 25
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/4
 description ##  server: vmware2-vmnic0
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/5
 description ##  server: vmware3-vmnic0
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/6
 description ##  server:
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/7
 description ##  server: gw-khronos eth0
 switchport access vlan 150
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/8
 description ##  server:  gw-printer eth0
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/9
 description ##  server: gw-m004 eth0
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/10
 description ##  server: gw-m135 eth0
 switchport access vlan 300
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/11
 description ##  server: pfsense1 eth0
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/12
 description ##  server: pfsense1 eth1
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/13
 description ##  Nobreak 1 ECS 769196
 switchport access vlan 112
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/14
 description ##  Nobreak 2 ECS 769195
 switchport access vlan 112
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/15
 description ##  Nobreak 3 GlobalPower 627078
 switchport access vlan 112
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/16
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/17
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/18
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/19
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/20
 description ##  Teste Vlan201 samba4-ad
 switchport access vlan 201
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/21
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/22
 switchport access vlan 90
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/23
 switchport access vlan 200
 switchport mode access
 storm-control broadcast level 10.00
 storm-control multicast level 10.00
 spanning-tree portfast
!
interface GigabitEthernet1/0/24
 description ##  CONEXAO COM SW.GW26 - Porta 20##
 switchport mode trunk
 logging event status
 load-interval 30
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/0/25
!
interface GigabitEthernet1/0/26
!
interface GigabitEthernet1/0/27
!
interface GigabitEthernet1/0/28
!
interface Vlan1
 no ip address
 shutdown
!
interface Vlan200
 ip address 10.40.20.30 255.255.0.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 shutdown
!
interface Vlan900
 ip address 172.19.1.30 255.255.255.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
!
ip default-gateway 172.19.1.1
no ip http server
no ip http secure-server
!
ip route 0.0.0.0 0.0.0.0 172.19.1.1 name ASA
!
ip access-list standard SNMP-allow
 permit 10.40.0.81
!
logging history size 500
logging history alerts
logging trap warnings
logging origin-id hostname
logging facility local0
logging host 10.40.0.45 transport udp port 1516
!
snmp-server community gwmonitorpub RO SNMP-allow
snmp-server community gwmonitorpri RW SNMP-allow
snmp-server location R1-C102
snmp-server contact ti.gw@ifsc.edu.br
vstack
!
line con 0
line vty 0 4
 exec-timeout 5 0
 password 7 06453B700F491E5308161C0A0B0138
 login local
 transport input ssh
line vty 5 15
 exec-timeout 5 0
 password 7 114A2D5454151C46092B25252F3627
 login local
 transport input ssh
!
ntp server 10.40.0.15
end
