!----------------------------------------------------------------------
!
!           DGS-3100-24 Gigabit stackable L2 Managed Switch            
!                            Configuration                             
!
!                       Firmware: Build 3.60.28                        
!     Copyright(C) 2008 D-Link Corporation. All rights reserved.       
!----------------------------------------------------------------------
 
! BASIC
 
disable telnet 
create account admin admin password 2837466c37b7eb88ab9d103dcb2ca7d4 encrypted 
 
! SNMP
 
create snmp community gwmonitorpub view DefaultSuper read_only 
create snmp community private view DefaultSuper read_write 
create snmp community public view Default read_only 
create snmp host 10.40.0.81 v2c gwmonitorpub 
config snmp system_contact patrimonio.551544 
config snmp system_location A110 
config snmp system_name sw34.551544 
 
! AUTHENTICATION
 
 
! NETWORK MONITORING
 
 
! LINK AGGREGATION
 
 
! PORT
 
config ports description 1:24 'conexao_com_gw.sw33-core_porta8' 
 
! VLAN
 
config vlan default delete 1:(1-24) 
create vlan LAN_ADM tag 201 
create vlan Lab_Outros tag 305 
create vlan Gerencia tag 900 
config vlan LAN_ADM add tagged 1:24 
config vlan LAN_ADM add untagged 1:(1-8) 
config vlan Lab_Outros add tagged 1:24 
config vlan Lab_Outros add untagged 1:(9-22) 
config vlan Gerencia add tagged 1:24 
config gvrp 1:(1-8) pvid 201 
config gvrp 1:(9-22) pvid 305 
enable vlan_trunk 
 
! FORWARDING TABLE
 
 
! BROADCAST STORM CONTROL
 
 
! PORT MIRRORING
 
 
! QOS
 
 
! MULTIPLE SPANNING TREE
 
enable stp 
config stp version rstp 
config stp ports 1:(1-23) edge true 
 
! IGMP SNOOPING
 
 
! 802.1X
 
 
! SNTP
 
enable sntp 
config sntp primary 10.40.0.15 secondary 200.160.0.8 poll-interval 720 
config time_zone operator - hour 03 minute 00 
 
! SSH
 
enable ssh 
 
! SSL
 
 
! BASIC IP
 
config ipif System ipaddress 172.19.1.34/24 vlan Gerencia 
 
! ROUTING TABLE
 
create iproute default 172.19.1.1 
 
! ARP
 
 
! LACP
 
 
! PORT SECURITY
 
 
! STACK
 
 
! POE
 
 
! TRAFFIC SEGMENTATION
 
 
! ACCESS CONTROL LIST
 
 
! HISTORY
 
 
! SAFEGUARD
 
 
! DOWNLOAD
 
 
! LLDP
 
 
! MLD SNOOPING
 
 
! VOICE VLAN
 
config voice_vlan oui-table add 0001e3 description siemens_phone___________ 
config voice_vlan oui-table add 00036b description Cisco_phone_____________ 
config voice_vlan oui-table add 00096e description Avaya_phone_____________ 
config voice_vlan oui-table add 000fe2 description Huawei-3COM_phone_______ 
config voice_vlan oui-table add 0060b9 description nec-philips_phone_______ 
config voice_vlan oui-table add 00d01e description pingtel_phone___________ 
config voice_vlan oui-table add 00e075 description veritel_phone___________ 
config voice_vlan oui-table add 00e0bb description 3Com_phone______________ 
