server mp2.pop-sc.rnp.br iburst
restrict mp2.pop-sc.rnp.br nomodify notrap nopeer noquery
server ntp.pop-sc.rnp.br iburst
restrict ntp.pop-sc.rnp.br nomodify notrap nopeer noquery
server ntp.cais.rnp.br iburst
restrict ntp.cais.rnp.br nomodify notrap nopeer noquery
pool ntp.pop-sc.rnp.br
pool ntp.ufsc.br
pool a.ntp.br
pool b.ntp.br
pool c.ntp.br

driftfile /var/lib/ntp/ntp.drift

statistics loopstats peerstats clockstats

filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

restrict -4 default kod notrap nomodify nopeer noquery limited
restrict -6 default kod notrap nomodify nopeer noquery limited
restrict 127.0.0.1
restrict ::1
restrict 10.40.0.0 mask 255.255.0.0 kod notrap nomodify nopeer noquery
restrict 172.16.0.0 mask 255.255.0.0 kod notrap nomodify nopeer noquery
restrict 172.17.0.0 mask 255.255.0.0 kod notrap nomodify nopeer noquery
restrict 172.18.0.0 mask 255.255.0.0 kod notrap nomodify nopeer noquery
restrict 172.19.0.0 mask 255.255.0.0 kod notrap nomodify nopeer noquery
restrict 191.36.54.0 mask 255.255.254.0 kod notrap nomodify nopeer noquery
restrict 2804:1454:2004:: mask ffff:ffff:ffff:: nomodify notrap

restrict source notrap nomodify noquery

